<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Island Replica</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/prototype-1.6.0.3.js"></script>
    <script type="text/javascript" src="/js/swfobject.js"></script>
  </head>

  <body>

    <div id="app"></div>

    <script type="text/javascript">
      var flashVars = {
      islandId: "<%=@island_id%>",
      userId: "<%=@user_id%>",
      host: "<%=@host%>",
      port: "<%=@port%>",
      policyPort: "<%=@policy_port%>"
      };
      var params = { allowfullscreen: "true", allownetworkaccess: "true", bgcolor: "#ffffff" };
      swfobject.embedSWF("/bin/tankwars.swf", "app", "1280", "720", "10", null, flashVars, params);
    </script>

  </body>

</html>
